<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

  <contextName>io-mogan</contextName>

  <define name="log.path" class="cn.xyz.chaos.common.log.LogPathApolloPropertyDefiner"/>
  <define name="log.isRolling" class="cn.xyz.chaos.common.log.LogRollingApolloPropertyDefiner"/>

  <appender name="ALIBABA-APPENDER" class="ch.qos.logback.core.FileAppender">
    <file>${log.path}/io-mogan.alibaba.log</file>
    <append>true</append>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ["%thread"] [%p] %c{36}#%M - %m%n</pattern>
    </encoder>
  </appender>
  <logger name="com.alibaba.dubbo" level="INFO" additivity="true">
    <appender-ref ref="ALIBABA-APPENDER"/>
  </logger>

  <appender name="SPRING-APPENDER" class="ch.qos.logback.core.FileAppender">
    <file>${log.path}/io-mogan.spring.log</file>
    <append>true</append>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ["%thread"] [%p] %c{36}#%M - %m%n</pattern>
    </encoder>
  </appender>
  <logger name="org.springframework" level="INFO" additivity="true">
    <appender-ref ref="SPRING-APPENDER"/>
  </logger>


  <appender name="APP-APPENDER" class="ch.qos.logback.core.FileAppender">
    <file>${log.path}/io-mogan.app.log</file>
    <append>true</append>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ["%thread"] [%p] %c{36}#%M - %m%n</pattern>
    </encoder>
  </appender>
  <logger name="cn.xyz" level="INFO" additivity="true">
    <appender-ref ref="APP-APPENDER"/>
  </logger>

  <appender name="CONSOLE-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ["%thread"] [%p] %c#%M - %m%n
      </pattern>
    </encoder>
  </appender>

  <appender name="STDOUT-APPENDER" class="ch.qos.logback.core.FileAppender">
    <file>${log.path}/io-mogan.stdout.log</file>
    <append>true</append>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ["%thread"] [%p] %c{36}#%M - %m%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="CONSOLE-APPENDER"/>
    <!--<appender-ref ref="STDOUT-APPENDER"/>-->
  </root>
</configuration>
